<div data-ng-include="'/forum/html/header.html'"></div>

<div data-ng-controller="answerController" data-ng-init="init()" class="margins">

	<div class="row" style="margin-top: 5%;">
		<div class="col-lg-9 mt-2">
		<div class="main-container">
		<div class="question-card mt-2">
		<strong>{{selectedQuestion.ques}}</strong>
		</div>
		
		<div class="row" style="margin-left:-10px;margin-right:-10px;">
			<div class="col-lg-10">
			<div class="form-group mt-2">
			<textarea class="form-control" style="border: 2px solid #ababab;" placeholder="Your answer goes here..." data-ng-model="common.ans.ans"></textarea>
			</div>
			</div>
			<div class="col-lg-2">
			<div class="btn-group-vertical btn-block mt-2">
			  <button type="button" class="btn btn-info btn-sm" data-ng-click="submitAnswer()">Submit</button>
			  <button type="button" class="btn btn-info btn-sm" data-ng-click="resetAnswer()">Reset</button>
			</div>
			</div>
		</div>
		
		<hr>
		
		<div data-ng-if="!common.noAnswers">
		<div data-ng-repeat="answer in allAnswers track by $index">
			<div class="answer-card mt-2" data-ng-click="getAnswerInfo($index, answer.answeredBy)">
			<small>{{answer.ans}}</small>
			</div>
		</div>
		</div>
		
		<div data-ng-if="common.noAnswers">
			<div class="answer-card mt-2">
			<small>This question has not been answered yet!</small>
			</div>
		</div>
					
		</div>
		</div>
		<div class="col-lg-3 mt-2">
		<div class="row">

			<div class="col-lg-12 side-container">
			<div>
			<strong>QUESTION DETAILS</strong>
			</div>
			<hr>
			<div>
			<small>Question ID:</small>
			<small data-ng-bind="selectedQuestion.quesId"></small>
			</div>
			<div>
			<small>Asked By:</small>
			<small data-ng-bind="questionOwner.userName"></small>
			</div>
			<div>
			<small>Category:</small>
			<small data-ng-bind="selectedQuestion.category"></small>
			</div>
			<div>
			<small>Likes:</small>
			<small data-ng-bind="selectedQuestion.likes"></small>
			</div>
			</div>

			<div class="col-lg-12 side-container mt-2" data-ng-if="!common.noAnswers">
			<div>
			<strong>ANSWER DETAILS</strong>
			</div>
			<hr>
			<div>
			<small>Answer ID:</small>
			<small data-ng-bind="selectedAnswer.ansId"></small>
			</div>
			<div>
			<small>Answered By:</small>
			<small data-ng-bind="answerOwner.userName"></small>
			</div>
			<div>
			<small>Likes:</small>
			<small data-ng-bind="selectedAnswer.likes"></small>
			</div>
			<button class="btn btn-basic btn-block mt-1"
				data-ng-click="likeAnswer()" 
				data-ng-disabled="selectedAnswer.isLiked">
				<small>Like this answer</small>
			</button>
			</div>

		</div>
		</div>
	</div>

</div>

<div data-ng-include="'/forum/html/footer.html'"></div>