<div data-ng-include="'/forum/html/header.html'"></div>

<div data-ng-controller="answerController"
     data-ng-init="init()"
     class="answer-margins"
     style="margin-bottom: 6rem;">

    <div class="modal fade"
         id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit question?</h5>
                </div>
                <div class="modal-body">
                    <small>Question</small>
                    <div class="form-group mt-2">
						<textarea class="form-control"
                                  style="border: 2px solid #ababab;"
                                  placeholder="Your question goes here..."
                                  data-ng-model="common.ques.ques">
						</textarea>
                    </div>
                    <small>Question category</small>
                    <div class="form-group">
                        <select class="form-control"
                                data-ng-model="common.ques.category"
                                data-ng-options="category for category in common.categories">
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-success"
                            data-ng-click="updateQuestion()">
                        Confirm
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            data-ng-click="cancelUpdateQuestion()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-if="!common.pageExists">
        <div data-ng-include="'/forum/html/fourzerofour.html'"></div>
    </div>

    <div class="row"
         data-ng-if="common.pageExists">
        <div class="col-lg-9 mt-2">
            <div class="answer-main-container-no-scroll">
                <div>
                    <strong>QUESTION</strong>
                </div>
                <hr>
                <div class="ans-question-card mt-2">
                    <h6>{{selectedQuestion.ques}}</h6>
                </div>
                <div data-ng-if="common.answerQuestion">
                    <div class="form-group mt-2">
						<textarea class="form-control"
                                  style="border: 2px solid #ababab;border-radius: 0px;"
                                  placeholder="Your answer goes here..."
                                  data-ng-model="common.ans.ans">
						</textarea>
                    </div>
                    <div class="btn-group btn-block mt-2"
                         style="display:flex;">
                        <button type="button"
                                class="btn btn-info btn-sm"
                                style="flex:1;"
                                data-ng-click="submitAnswer()">
                            <span>Submit</span>
                        </button>
                        <button type="button"
                                class="btn btn-info btn-sm"
                                style="flex:1;"
                                data-ng-click="resetAnswer()">
                            <span>Reset</span>
                        </button>
                        <button type="button"
                                class="btn btn-info btn-sm"
                                style="flex:1;"
                                data-ng-click="cancelAskAnswer()">
                            <span>Not now</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="answer-main-container-scroll">
                <div>
                    <strong>ANSWERS</strong>
                </div>
                <hr>
                <div data-ng-if="!common.noAnswers">
                    <div data-ng-repeat="answer in allAnswers track by $index">
                        <div data-ng-class="{true:'ans-selected-answer-card mt-2', false:'ans-answer-card mt-2'}[answer.ansId == selectedAnswer.ansId]"
                             data-ng-click="getAnswerInfo($index, answer.answeredBy)">
                            <small>{{answer.ans}}</small>
                        </div>
                    </div>
                </div>
                <div data-ng-if="common.noAnswers">
                    <div class="ans-answer-card mt-2">
                        <small>This question has not been answered yet!</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-2">
            <div class="answer-side-container">
                <div>
                    <strong>QUESTION DETAILS</strong>
                </div>
                <hr>
                <div>
                    <small>Question ID:</small>
                    <small data-ng-bind="selectedQuestion.quesId"></small>
                </div>
                <div>
                    <small>Asked By:</small>
                    <a data-ng-href="#!/profile/{{questionOwner.userName}}">
                        <small data-ng-bind="questionOwner.userName"></small>
                    </a>
                </div>
                <div>
                    <small>Category:</small>
                    <a data-ng-href="#!/home/{{selectedQuestion.category}}">
                        <small data-ng-bind="selectedQuestion.category"></small>
                    </a>
                </div>
                <div>
                    <small>Likes:</small>
                    <small data-ng-bind="selectedQuestion.likes"></small>
                </div>
                <button class="btn btn-info btn-block mt-2"
                        data-ng-click="commenceAnswerQuestion()">
                    <small>Answer question</small>
                </button>
                <div data-ng-if="selectedQuestion.askedBy==sessionData.currentUser.userId && common.loggedIn">
                    <button class="btn btn-info btn-block mt-2"
                            data-ng-click="commenceUpdateQuestion()">
                        <small>Edit question</small>
                    </button>
                </div>
            </div>
            <div class="answer-side-container mt-2"
                 data-ng-if="!common.noAnswers">
                <div>
                    <strong>ANSWER DETAILS</strong>
                </div>
                <hr>
                <div>
                    <small>Answer ID:</small>
                    <small data-ng-bind="selectedAnswer.ansId"></small>
                </div>
                <div>
                    <small>Answered By:</small>
                    <a data-ng-href="#!/profile/{{answerOwner.userName}}">
                        <small data-ng-bind="answerOwner.userName"></small>
                    </a>
                </div>
                <div>
                    <small>Likes:</small>
                    <small data-ng-bind="selectedAnswer.likes"></small>
                </div>
                <div class="btn-group btn-block mt-2"
                     style="display:flex;"
                     data-ng-if="common.loggedIn">
                    <button type="button"
                            class="btn btn-info btn-sm"
                            style="flex:1;"
                            data-ng-click="likeAnswer()"
                            data-ng-disabled="selectedAnswer.isLiked">
                        <span>Like</span>
                    </button>
                    <button type="button"
                            class="btn btn-info btn-sm"
                            style="flex:1;"
                            data-ng-click="dislikeAnswer()"
                            data-ng-disabled="!selectedAnswer.isLiked">
                        <span>Dislike</span>
                    </button>
                </div>
                <div data-ng-if="selectedAnswer.answeredBy==sessionData.currentUser.userId && common.loggedIn">
                    <button class="btn btn-info btn-block mt-2"
                            data-ng-click="commenceUpdateAnswer()">
                        <small>Edit answer</small>
                    </button>
                </div>
            </div>

        </div>
    </div>

</div>

<br><br>

<div data-ng-include="'/forum/html/footer.html'"></div>