<div data-ng-include="'/forum/html/header.html'"></div>

<div data-ng-controller="logoutController"
	 data-ng-init="init()"
	 style="min-height: 60%;margin-bottom: 6rem;">
	<div class="bg-secondary" align="center" style="margin: 10rem 2rem 5rem;
		width: auto;border-radius: 5px;padding: 2rem;">
		<div style="padding:0.5rem;color:#ffffff;">
			<div>
				<h5>Thank you for using Ask me Anything!</h5>
			</div>
			<div data-ng-if="!common.check">
				<div>Please wait while we log you out :)</div>
				<div>Thank you for you patience :)</div>
			</div>
			<div data-ng-if="common.check">
				<div>You have been logged out :)</div>
				<div>Thank you for you patience :)</div>
			</div>
		</div>
	</div>
</div>

<br><br>

<div data-ng-include="'/forum/html/footer.html'"></div>