<div data-ng-include="'/forum/html/header.html'"></div>

<div data-ng-controller="profileController" data-ng-init="init()" class="profile-margins">

	<div class="modal fade" id="editDetails">
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title">Edit details</h5>
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
			
			<div class="input-group">
		    <input type="text" class="form-control" data-ng-model="tempUser.userName">
		    <div class="input-group-append">
	     	<button class="btn btn-info" type="button" data-ng-click="performEdit('name')">
	     	Change
	     	</button>
		    </div>
			</div>				
			
			<div class="input-group mt-2">
		    <input type="text" class="form-control" data-ng-model="tempUser.userMail">
		    <div class="input-group-append">
	     	<button class="btn btn-info" type="button" data-ng-click="performEdit('mail')">
	     	Change
	     	</button>
		    </div>
			</div>	
			
			<div class="input-group mt-2">
		    <input type="text" class="form-control" data-ng-model="tempUser.userBio">
		    <div class="input-group-append">
	     	<button class="btn btn-info" type="button" data-ng-click="performEdit('bio')">
	     	Change
	     	</button>
		    </div>
			</div>				
			
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-success" data-ng-click="closeEdit()">
			Done
			</button>
			</div>
		</div>
		</div>
	</div>	
	
	<div class="modal fade" id="editPswd">
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title">Edit Password</h5>
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
			
			<div class="input-group">
		    <div class="input-group-prepend">
		    <span class="input-group-text property-width"><small>Current Pswd</small></span>
		    </div>
		    <input type="password" class="form-control" data-ng-model="userCreds.userPswd">
		    <div class="input-group-append">
	     	<button class="btn btn-info" type="button" data-ng-click="validatePswd()">
	     	Validate
	     	</button>
		    </div>
			</div>		
			
			<div data-ng-if="common.pswdCheck">
				<div class="input-group mt-2">
			    <div class="input-group-prepend">
			    <span class="input-group-text property-width"><small>New Pswd</small></span>
			    </div>
			    <input type="password" class="form-control" placeholder="@@##$$%%" data-ng-model="tempUser.userPswd">
				</div>	
				<div class="input-group mt-2">
			    <div class="input-group-prepend">
			    <span class="input-group-text property-width"><small>Confirm Pswd</small></span>
			    </div>
			    <input type="password" class="form-control" placeholder="@@##$$%%" data-ng-model="tempUser.userPswdConfirm">
				</div>	
			</div>
			
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-success" data-ng-click="performEdit('pswd')" data-ng-if="common.pswdCheck">
			Change
			</button>
			<button type="button" class="btn btn-danger" data-ng-click="closeEditPswd()">
			Cancel
			</button>
			</div>
		</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-2 mt-2">
		<div class="profile-card">
			<strong>BASIC DETAILS</strong>
			<hr>
			<h6>{{currentUser.userName}}</h6>
			<small>{{currentUser.userMail}}</small>
		</div>
		<div style="color: #ffffff; background-color: #ababab; padding: 5px 10px 10px 10px;">
		<strong>{{currentUser.userBio}}</strong>
		</div>
		<div>
		<button class="btn btn-basic btn-block mt-2" data-ng-click="commenceEdit()">
		<small>Edit Details</small>
		</button>
		</div>
		<div>
		<button class="btn btn-basic btn-block mt-2" data-ng-click="commenceChangePswd()">
		<small>Change password</small>
		</button>
		</div>
		</div>
		<div class="col-lg-8 mt-2">
            <div class="profile-container-scroll">
            <strong>QUESTIONS ASKED</strong>
			<hr>
            <div data-ng-if="askedQuestions.length > 0" data-ng-repeat="question in askedQuestions">
            <div class="profile-question-card mt-2" data-ng-click="viewAskedQuestion(question)">
            {{question.ques}}
            </div>
            </div>
            <div data-ng-if="askedQuestions.length == 0">
            <h6>You've not asked any questions yet!</h6>	
            </div>
            </div>
            <div class="profile-container-scroll mt-2">
            <strong>QUESTIONS ANSWERED</strong>
			<hr>
            <div data-ng-if="answeredQuestions.length > 0" data-ng-repeat="question in answeredQuestions">
            <div class="profile-question-card mt-2" data-ng-click="viewAnsweredQuestion(question)">
            {{question.ques}}
            </div>
            </div>
            <div data-ng-if="answeredQuestions.length == 0">
            <h6>You've not answered any questions yet!</h6>	
            </div>            
            </div>
		</div>
        <div class="col-lg-2 mt-2">
        <div class="profile-side-container-scroll">
            <strong>LEADERBOARD</strong>
			<hr>
            <div data-ng-repeat="userRanking in userRankings track by $index">
            <button class="btn btn-basic btn-block mt-1" id="popover{{$index}}">
            <small>{{userRanking[0] | uppercase}}</small>
			</button>
            </div>
        </div>
        </div>
	</div>

</div>

<div data-ng-include="'/forum/html/footer.html'"></div>