hr {
	margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 992px) {
	hr {
	  margin-top: 1rem;
	  margin-bottom: 1rem;
	  border: 0;
	  border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
}

.profile-margins{
	margin-top: 2%;
	margin-bottom: 5%;
	margin-left: 2%;
	margin-right: 2%;
	min-height: 80%;
}

@media screen and (max-width: 992px) {
	.profile-margins{
		margin-top: 2%;
		margin-bottom: 5%;
		margin-left: 2%;
		margin-right: 2%;
		min-height: 80%;
	}
}

.profile-card{
	border: 5px solid;
	border-color: #ababab;
	border-radius: 0;
	padding: 10px;
}

.profile-side-container{
	border: 5px solid;
	border-color: #ababab;
	border-radius: 0;
	padding: 5px;
}

.profile-container-scroll{
	border: 2px solid;
	border-color: #ababab;
	border-radius: 0;
	overflow-y: scroll;
	max-height: 20em;
	padding: 10px;
}

.profile-side-container-scroll{
	border: 2px solid;
	border-color: #ababab;
	border-radius: 0;
	overflow-y: scroll;
	max-height: 40em;
	padding: 10px;
}

.profile-question-card{
	border: 2px solid;
	border-color: #ababab;
	border-radius: 0;
	padding: 10px;
}

.profile-selected-question-card{
	background-color: #949494;
    color: #ffffff;
	border: 2px solid;
	border-color: #cacaca;
	border-radius: 0;
	padding: 10px;	
}